VITE_MS_USUARIOS_URL=http://127.0.0.1:3000
VITE_MS_PRODUCTOS_URL=http://127.0.0.1:3001
VITE_MS_PEDIDOS_URL=http://127.0.0.1:3002
VITE_MS_INVENTARIO_URL=http://127.0.0.1:3003
VITE_MS_PAGOS_URL=http://127.0.0.1:3004
VITE_MS_REPORTES_URL=http://127.0.0.1:3005
